.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}

.main-header {
    background-color: rgba(133, 11, 167, 0.6);
   
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}


.band-name {
    text-align: center;
    margin: 0;
    font-size: 1.5em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: rgb(225, 215, 18);
}

.band-name-large {
    font-size: 6em;
}